                /*GENERIC*/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*1 rem = 10px*/
}

body {
    background-image: url(../image/background.png);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(97, 172, 109);
}

h1{
    
    font-size: 3rem;
    border-bottom: 1px solid rgba(150, 150, 150, 0.301);
}

h1, h2, h3, legend{

    font-family: 'Press Start 2P', cursive;

}

li {
    list-style-type: none;
}

.container {

    background-color: rgb(41, 47, 54);
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;

}


                /*HEADER*/

header {
    background-color: rgb(41, 47, 54);
    width: 100%;
    margin: 0 auto;
    padding: 30px 0px;
}

#header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a img {
    width: 45%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

header nav a {
    text-decoration: none;
    padding: 20px;
    background-color: rgb(97, 172, 109);
    border-radius: 5px;
    color: white;
    height: 50px;
}


            /*MAIN*/


main {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

video {
    width: 100%;
    margin: 0px auto;
}

#intro-hyde {
    text-align: left;
}

#intro-hyde ul li:hover {
    padding: 5px 10px;
    width: 200px;
    color: rgb(247, 255, 247);
    transition: all 0.3s;
}

#intro-hyde ul li, #intro-elan ul li {
    
    border-bottom: 1px solid rgba(20, 20, 20, 0.205);
    border-right: 1px solid rgba(20, 20, 20, 0.205);
    width: 200px;
    height: 40px;
    padding: 20px;
    margin: 0 auto;
}

#intro-elan {

    text-align: right;
}

                /*form*/

form {
    background-color: rgb(247, 255, 247);
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

legend {
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}

input {
    height: 50px;
}

button[type=submit]{
    border-style: none;
    margin: 10px;
    color: ;
}