                /*GENERIC*/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*1 rem = 10px*/
}

body {

    margin: 0;
    font-family: 'Odibee Sans', cursive;
    background-color: black;
    color: rgb(97, 172, 109);
    line-height: 1.8;
    text-align: center;

}

p {
  
    font-size: 2rem;
    text-align: justify;
  
}

h1, h2, h3, legend{

    font-family: 'Press Start 2P', cursive;

}

li {
    list-style-type: none;
}

.container {

    width: 100%;
    padding: 0px 20px;
    margin: 0 auto;   
    background-color: rgba(22, 87, 60, 0.445);

}


                /*HEADER*/


header a img {

    width: 100%;

}

header nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin:  auto;

}

header nav a {
    
    text-decoration: none;
    padding: 20px;
    color: rgba(255, 255, 255, 0.377);
    font-size: 2.5rem;
    height: 50px;
}

header nav a:hover {

    transform: translateY(10px);
    color: white;
    transition: all 0.3s;

}

            /*H1 The code block*/

h1{

    text-align: center;
    font-size: 5rem;
    border-bottom: 1px solid rgba(150, 150, 150, 0.301);

}

video{

    display: none;

}

.content {

    padding-top: 100px;

}


                /* Meet the team */

#meet-team{

    padding: 30px;
    margin: 0 auto;
}

#meet-team .container{

    width: 100%;
    margin: 0 auto;
}

h2{

    color: rgba(255, 255, 255, 0.377);
    font-size: 3rem;

}

.intros-container article{

    padding: 50px 20px;
    background-color: rgba(22, 87, 60, 0.445);
    margin-bottom: 50px;

}

h3{

    font-size: 2rem;

}

#intro-hyde img{

    width: 200px;
    border: 1px solid rgb(97, 172, 109);

}

#intro-elan img{

    width: 150px;
    border: 1px solid rgb(97, 172, 109);

}

h4{

    font-size: 2rem;

}

li {

    list-style-type: none;
    font-size: 2rem;

}

                /*contact form*/

form {

    /*background-color: rgba(22, 87, 60, 0.445);*/
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;

}

legend {

    font-size: 2rem;
    text-align: center;
    margin: 20px;

}

input {

    height: 50px;
    margin: 10px;

}

textarea {

    margin: 10px;

}

form p{

    text-align: center;

}

button[type=submit]{

    border-style: none;
    margin: 10px;
    color: rgb(97, 172, 109);
    padding: 20px;
    font-size: 3rem;

}

                /*Footer*/

footer .container a img{

    opacity: 0.5;
    width: 50%;

}

footer .container nav{

    display: flex;
    flex-direction: column;

}

footer .container nav a{

    text-decoration: none;
    color: rgba(255, 255, 255, 0.377);
    font-size: 2rem;

}

                /*tablet screen min width 768px*/

@media screen and (min-width: 768px){

    .container{

        width: 80%;

    }
}    

                /*desktop screen min width 1025px*/

@media screen and (min-width: 1025px){

    .container{

        width: 90%;
        margin: 0 auto;

    }

    header a img{

        display: block;
        width: 40%;

    }

    header .container{

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    header .container nav{

        flex-direction: row;
        justify-content: flex-end;

    }

                  /*Video*/


    .vid-container {

        position: relative;
        height: 500px;
        overflow: hidden;
        border: 1px solid rgb(97, 172, 109);

    }

    .vid {

        z-index: -1;

    }    

    video{

        width: 100%;
        display: block;

    }

    .content {

        position: absolute;
        top: 50%; left:50%;
        transform: translate(-50%, -50%);

    }

    .dark-overlay{

        position: absolute;
        top: 0; left: 0;
        background-color: rgba(26, 26, 26, 0.432);
        width: 100%; height:100%;

    }

            /*Intros*/

    .intros-container{

        display: flex;
        justify-content: space-evenly;

    }

    .intros-container article{

        background-color: rgba(0, 0, 0, 0.445);
        flex-basis: 40%;
        margin-bottom: 50px ;

    }
    
    #intro-hyde {
    
        text-align: left;
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(97, 172, 109);
        padding: 50px;
    
    }
    
    #intro-elan {
    
        text-align: left;
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(97, 172, 109);
        padding: 50px;
    
    }
    
    #intro-hyde img {

        float: left;
        width: 200px;    
        margin-right: 10px;

    }
    
    #intro-elan img {

        float: left;
        width: 150px;
        margin-right: 10px;

    }
    
    h4 {

        text-align: center;
        font-size: 1.8rem;

    }
    
                    /*skill bar animation*/
    
    #intro-hyde ul li, #intro-elan ul li {
        
        border-bottom: 1px solid rgba(20, 20, 20, 0.205);
        border-right: 1px solid rgba(20, 20, 20, 0.205);
        font-size: 1.5rem;
        width: 200px;
        height: 50px;
        padding: 20px;
        margin: 0 auto;

    }
    
    #intro-hyde ul li:hover, #intro-elan ul li:hover {

        padding: 5px 10px;
        width: 200px;
        color: rgb(247, 255, 247);
        transition: all 0.3s;

    }

            /*Form*/

    form{

        width: 80%;

    }

    button[type=submit]{

        width: 200px;
        margin: 20px auto;

    }        

            /*Footer*/

    footer .container {

        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 70px;

    }

    footer .container a img{

        display: block;
        width: 100px;
    }

    footer .container nav {

        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 40%;

    }

}